@import '../../variables';
.flux-layout-content {
  height: 100%
}
// .scenario:first-child {
//   padding-top: 11px;
// }
.scenario:last-child {
  padding-bottom: 11px;
}
.scenario {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;

  .flux-row {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 100%;
  }
  .flux-row:nth-of-type(2) {
    margin-top: 8px;
  }


  div[class^="flux-col-"] {
    height: 100%;
    .flux-card {
      background-color: white;
      height: 100%;
      display: flex;
      flex-direction: column;

      .flux-card-body {
        height: 100%;
        padding: 10px;
        overflow: hidden;
      }

    }

    
  }

  h1 {
    color: $light-blue;
  }
}


.flux-card.viewport {
  height: 100%;
  .flux-card-body {
    padding: 0px !important;
  }
}