$height: 15px;


.crane-bar.outer-bar-container {
	margin: 5px;
	height: $height;
	position: relative;
	flex-grow: 1;

	* {
		transition-property: background-color, border, border-left, border-right;
		transition-duration: 80ms;
		transition-timing-function: ease-in-out;
	}

	.inner-bar {
		overflow: hidden;
		position: absolute;
		background-color: #e6ebf2;

		height: $height;
		cursor: grab;
		border: solid 1px #bbb;
		border-radius: 4px;
	}

	// .inner-bar:hover {
	// 	background-color: orange;
	// }

	.inner-bar-inactivity-overlay.left {
		transition-property: right;
	}
	.inner-bar-inactivity-overlay.right {
		transition-property: left;
	}

	.inner-bar-inactivity-overlay {
		height: $height;
		position: absolute;
		pointer-events: none;
		background: #aaa;
		transition-duration: 80ms;
		transition-timing-function: ease-in-out;
		left: 0%;
		right: 0%;
		mix-blend-mode: hard-light;
	}

	.inner-bar-left-handle, .inner-bar-right-handle {
		position: absolute;
		max-width: 25%;
		width: 20px;
		height: $height;
		cursor: pointer;
		overflow: hidden;
		// background-color: #d5dae1;
		
	}

	// .inner-bar-left-handle:hover, .inner-bar-right-handle:hover {
	// 	background-color: #d5dae1;
	// }

	.inner-bar-left-handle {
		left: 0;
		// background: red;
		.inner-bar-grip {
			left: 40%;
		}
	}
	.inner-bar-right-handle {
		right: 0;
		.inner-bar-grip {
			right: 40%;
		}
	}

	.inner-bar-grip {
		position: absolute;
		top: 23%;
		// margin-left: 6px;
		// min-width: 4px;
		width: 4px;
		height: 40%;
		pointer-events: none;
		// border-left: 1px solid #bbb;
		// border-right: 1px solid #bbb;
	}

	.outer-bar-list-container {
		margin: 10px;
	}

	.outer-bar {
		pointer-events: none;
		position: absolute;
		top: 45%;
		bottom: 45%;
		width: 100%;
		background-color: #77a;
	}
}
