doctype html
html(lang='en')
  meta(charset='utf-8')
  script(src='d3.min.v3.js')
  style.
    body {
      background: #eef;
    }
    .content-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    .graph-container {
      padding: 10px;
      box-shadow: 5px 5px 10px #bbc;
      margin: 10px;
      background: white;
      width: 400px;
      height: 300px;
    }
    .graph {
      margin: auto;
      margin-top: 10px;
      height: 250px;
      width: 380px;
      background: white;
      border: dashed 1px;
    }
    .line {
      margin: 20px;
      width: 100%;
      border-top: 1px solid #bbc;
    }


    #risk, #price { font: 12px Arial;}

    #risk path, #price path, #breakdown path { 
        stroke-width: 2.5; 
        fill: none;
    }

    #risk .area, #price .area {
      stroke-width: 0;
      mix-blend-mode: darken;
    }

    .axis path,
    .axis line {
        fill: none;
        stroke: #d8d8d8;
        stroke-width: 2;
        shape-rendering: crispEdges;
    }

    #risk .axis path, 
    #risk .axis path {
      mix-blend-mode: multiply;
    }
    #risk .axis line {
      stroke: rgba(100,100,100,0.2);
    }

    #util .bar {
      //- fill: steelblue;
    }

    #util .axis text {
      font: 10px sans-serif;
    }



    #util .x.axis path {
      //- display: none;
    }

  body
    .content-container
      .graph-container
        
      //- .graph-container
      //-   | Performance (performance)
      //-   #performance.graph
      //- .graph-container
      //-   | Crane Types (crane)
      //-   #cranes.graph
      //- .graph-container
      //-   | Weather API
      //-   #risk.graph
      //- .graph-container
      //-   | Risk Factors (risk)
      //-   #risk.graph
      //- .graph-container
      //-   | Average Utilization (util)
      //-   #util.graph
      //- .graph-container
      //-   | Total Estimated Price (price)
      //-   #price.graph
      //- .line
      //- //- .graph-container
      //- //-   | Performance Line
      //- //-   #perf-summary.graph
      //- .graph-container
      //-   | KPI Bubble (bubble)
      //-   #bubble.graph
      //- .graph-container
      //-   | Stacked Summary (stacked)
      //-   #stacked.graph
      //- .graph-container
      //-   | Performance Breakdown (breakdown)
      //-   #breakdown.graph

      //- script(src='util.js')
      //- script(src='stacked.js')
      //- script(src='bubble.js')
      script(src='cranes.js')
      //- script(src='breakdown.js')
      //- script(src='risk.js')
      //- script(src='price.js')
      script(src='weather.js')
      
