$height: 25px;
$radius: 6px;
$speed: 100ms;

.time-bar.outer-bar-container {
	margin: 8px;
	height: $height;
	position: relative;

	* {
		transition-property: none;
		transition-duration: $speed;
		transition-timing-function: ease-in-out;
	}

	.inner-bar {
		overflow: hidden;
		position: absolute;
		background-color: #e6ebf2;

		height: $height;
		cursor: grab;
		border: solid 1px #bbb;
		border-radius: $radius;
	}

	.animate {
		transition-property: left, right;
		transition-duration: $speed;
		transition-timing-function: ease-in-out;
	}

	// .inner-bar:hover {
	// 	background-color: orange;
	// }

	.inner-bar-inactivity-overlay.left.scheduled {
		transition-property: right;
		border-radius: $radius 0px 0px $radius;
		transition-timing-function: ease-in-out;
	}
	.inner-bar-inactivity-overlay.right.scheduled {
		transition-property: left;
		border-radius: 0px $radius $radius 0px;
		transition-timing-function: ease-in-out;
	}

	.inner-bar-inactivity-overlay.left.scheduled.animate {
		transition-property: right, left;
	}
	.inner-bar-inactivity-overlay.right.scheduled.animate {
		transition-property: right, left;
	}


	.inner-bar-inactivity-overlay {
		border-radius: $radius;
		height: $height;
		position: absolute;
		pointer-events: none;
		background: #aaa;
		transition-duration: $speed;
		transition-timing-function: ease-in-out;
		left: 0%;
		right: 0%;
		mix-blend-mode: hard-light;
	}

	.inner-bar-left-handle, .inner-bar-right-handle {
		position: absolute;
		max-width: 25%;
		width: 20px;
		height: $height;
		cursor: pointer;
		overflow: hidden;
		// background-color: #d5dae1;
		
	}

	// .inner-bar-left-handle:hover, .inner-bar-right-handle:hover {
	// 	background-color: #d5dae1;
	// }

	.inner-bar-left-handle {
		left: 0;
		// background: red;
		.inner-bar-grip {
			left: 40%;
		}
	}
	.inner-bar-right-handle {
		right: 0;
		.inner-bar-grip {
			right: 40%;
		}
	}

	.inner-bar-grip {
		position: absolute;
		top: 23%;
		// margin-left: 6px;
		// min-width: 4px;
		width: 5px;
		height: 40%;
		pointer-events: none;
		border-left: 1px solid #bbb;
		border-right: 1px solid #bbb;
	}

	.outer-bar-list-container {
		margin: 10px;
	}

	.outer-bar {
		pointer-events: none;
		position: absolute;
		top: 45%;
		bottom: 45%;
		width: 100%;
		background-color: #77a;
	}
}