@import url(https://fonts.googleapis.com/css?family=Lato);
@import '../variables.scss';


// @import url(http://localhost:3000/assets/proxima-nova-regular.ttf);

body {
  margin: 0;
  padding: 0;
  font-family: 'Proxima Nova', sans-serif;
  font-size: 16px;
}

#root {
  height: 100%;
}
.container {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

#loading-screen {
  height: 100%;
  background-color: $rear;
  display: flex;
  justify-content: center;
  align-items: center;
}


.route-title {
  padding-top: 4px;
  float: left;
}

.logo {
  height: 32px;
  float: right;
  margin-right: 20px;
  margin-top: 18px;
}

.container {
  .logo {
    height: 32px;
    float: right;
    margin-right: 0px;
    margin-top: 17px;
  }
}

.flux-layout-content {
  margin-right: 0px !important;
}
.flux-layout {
  height: 100%;
  background-color: $rear;

  .flux-layout-header {
    color: black;
    z-index: 0;
    // background: #fff;
    background: $rear;
    padding: 0px;
    // box-shadow: 0px 1px 10px #bbc;
  }
  .flux-layout-sider {
    flex: 0 0 262px !important;
    width: 262px !important;

    &.flux-layout-sider-collapsed {
      flex: 0 0 64px !important;
      width: 64px !important;
    }

    z-index: 12;
    // color: $flux-blue;
    color: $sider-text;
    -webkit-box-shadow: 2px 0px 20px 0px #d8e1e9;
    -moz-box-shadow: 2px 0px 20px 0px #d8e1e9;
    box-shadow: 2px 0px 20px 0px #d8e1e9;

    .app-title {
      height: 32px;
      // background: #ccc;
      border-radius: 6px;
      margin: 16px;
    }
    .app-title div {
      font-weight: bold;
      padding-left: 45px;
      padding-top: 6px;
    }
    .flux-layout-sider-trigger {
      background: #fff;
      color: #666;
    }
    .nav-text {
      font-weight: bold;
      font-size: 14px;
    }
    .anticon {
      font-size: 20px;
    }
    &.flux-layout-sider-collapsed {
      .anticon {
        margin-left: 8px;
      }
      .nav-text {
        display: none;
      }
      .flux-menu-submenu-vertical > .flux-menu-submenu-title:after {
        display: none;
      }
    }
  }
  div[class^="flux-layout-sider"], div[class^="flux-layout-sider"] * {
    background-color: $sider !important;
  }
  .flux-layout-sider-trigger {
    background-color: $sider !important;
  }
}

/* Table related stuff */
.flux-table-thead > tr > th {
  background-color: white;
  white-space: nowrap;
}
.flux-table-thead > tr > th, .flux-table-tbody > tr > td {
    padding: 8px 8px;
}

.flux-card-head-title {
  font-weight: bold;
  color: $flux-blue;
}

.flux-menu-item-selected, 
.flux-menu-item-selected > a, 
.flux-menu-item-active > a,
.flux-menu-item > a:hover, 
.flux-menu-item:hover, 
.flux-menu-item-active, 
.flux-menu-submenu-active, 
.flux-menu-submenu-title:hover,
{
  color: $flux-red;
}

.flux-menu-inline .flux-menu-item:after, .flux-menu-vertical .flux-menu-item:after {
  border-right: 3px solid $flux-red;
}

.flux-layout-sider .flux-menu {
  color: $flux-blue;
}

.flux-layout-sider {
  a, li {
    font-size: 13px;
    font-weight: bold;
    color: $sider-text;
  }
  i {
    font-size: 12px !important;
    margin-left: 4px !important;
    margin-right: 20px !important;
    // font-weight: normal !important;
  }
}
.flux-menu-sub {
  a {
    margin-left: 15px !important;
  }
}

.subtitle {
  color: rgb(160, 160, 160);
}

.flux-card, .flux-card:hover {
  box-shadow: 0px 1px 5px 0px #d8e1ea;
  // box-shadow: 1px 1px 2px #ddd;
}

.cranes-sidebar, .cranes-sidebar-hidden {
  top: 10px;
  // bottom: 10px;
  right: 10px;
  height: 110px;
  width: 220px;
  position: absolute;
  background: $sider;
  border-left: 1px solid #e9e9e9;
  z-index: 100;  
  box-shadow: 2px 2px 3px #ddd;
  border: solid 1px #92001e;
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: center;
  // position: absolute;
  transition-property: width;
  transition-duration: 80ms;
  transition-timing-function: ease-in-out;
  overflow: hidden;

  div {
    display: flex;
    flex: row;
    margin: 5px;
  }
  label {
    margin-right: 10px;
  }

  input, select { 
    margin-left: auto;
    background: white;
    width: 150px; 
    border: 1px solid $flux-blue;
    border-radius: 2px;
  }
}
.cranes-sidebar.focused {
  border: solid 1px $flux-blue-legacy;
}

.cranes-sidebar-hidden {
  border: none;
  box-shadow: none;
  width: 0px;
}


.crane-buttons, .crane-buttons-hidden {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap-reverse;
  top: 10px;
  left: 0px;
  right: 0px;  
  max-height: 40%;
  position: absolute;
  z-index: 100;
  transition-property: max-height, top;
  transition-duration: 80ms;
  transition-timing-function: ease-in-out;
  overflow: hidden;
  user-select: none;
  cursor: pointer;
}

.crane-buttons-hidden {
  top: 0px;
  max-height: 0px;
}



.cranes-viewport-card {
  .flux-card-body {
    padding: 0 !important;
  }
}

// This is D3 stuff
// Need to look for another wayt o keep these styles

#risk path, #price path, #breakdown path, #weather path { 
    stroke-width: 2.5; 
    fill: none;
}

#risk .area, #price .area {
  stroke-width: 0;
  mix-blend-mode: darken;
}

.axis path,
.axis line {
    fill: none;
    stroke: #d8d8d8;
    stroke-width: 2;
    shape-rendering: crispEdges;
}

#risk .axis path, 
#risk .axis path {
  mix-blend-mode: multiply;
}
#risk .axis line {
  stroke: rgba(100,100,100,0.2);
}

#utilization-chart .bar {
  //- fill: steelblue;
}

.empty-summary-table {
  padding-top: 10px;
  text-align: center;
}

li.flux-menu-item.nightmare-sider {
  padding-left: 0px !important;
}

.nightmare-sider .anticon:hover {
  opacity: 1 !important;
  color: $flux-blue !important;
}

.nightmare-sider .anticon {
  font-size: 14px !important;
}

.flux-menu-submenu-title, .flux-menu-item {
  color: $sider-text;
}

.flux-focus {
  color: $sider-text-selected !important;
}
.flux-focus:hover {
  color: $flux-red !important;
}

.star-icon:hover::before {
  color: $flux-red !important;
}

.flux-spin-dot i {
  background-color: #b70025;
}