import React from 'react';
{{#if wantCSS}}
import './index.scss';
{{/if}}

export default class {{ properCase name }} extends React.PureComponent {
  render() {
    return (
      {{#if wantCSS}}
      <div className="{{ kebabCase name }}">
      {{else}}
      <div>
      {{/if}}
      </div>
    );
  }
}
