import {{ properCase name }} from '../{{ properCase name }}';
import test from 'ava';
import React from 'react';
import { shallow } from 'enzyme';

test('foo', t => {
  t.pass();
});

test('bar', async t => {
  const bar = Promise.resolve('bar');
  t.is(await bar, 'bar');
});

test('has a .{{ kebabCase name }} class name', t => {
  const wrapper = shallow(<{{ properCase name }} />);
  t.true(wrapper.hasClass('{{ kebabCase name }}'));
});
