.flux-card.summary {
  height: 100%;
  .flux-card-body {
    padding: 0px !important;
    overflow-y: scroll !important;
  }
}
// Yuck, do all of this differently
.flux-card.summary-noscroll {
  height: 100%;
  .flux-card-body {
    padding: 0px !important;
  }
}

.flux-table-wrapper {
  background-color: white;
}