module.exports = (app) => {
  // List {{name}}s
  app.get('/{{ name }}', (req, res) => {
    app.db.{{ name }}.findAll({ where: { user_id: req.user.id } })
      .then((result) => res.json(result));
  });

  // Create {{name}}
  app.post('/{{ name }}', (req, res) => {
    req.body.user_id = req.user.id;
    app.db.{{ name }}.create(req.body)
      .then((result) => res.json(result))
      .catch((error) => res.status(412).json({ msg: error.message }));
  });

  // Get {{name}}
  app.get('/{{ name }}/:id', (req, res) => {
    app.db.{{ name }}.findOne({ where: { id: req.params.id, user_id: req.user.id } })
      .then((result) => {
        if (result) res.json(result);
        else res.sendStatus(404);
      })
      .catch((error) => res.status(412).json({ msg: error.message }));
  });

  // Update {{name}}
  app.put('/{{ name }}/:id', (req, res) => {
    app.db.{{ name }}.update(req.body, { where: { id: req.params.id, user_id: req.user.id } })
      .then(() => res.sendStatus(204))
      .catch((error) => res.status(412).json({ msg: error.message }));
  });

  // Delete {{name}}
  app.delete('/{{ name }}/:id', (req, res) => {
    app.db.{{ name }}.destroy({ where: { id: req.params.id, user_id: req.user.id } })
      .then(() => res.sendStatus(204))
      .catch((error) => res.status(412).json({ msg: error.message }));
  });
};
