body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.inner-bar {
	overflow: hidden;
	position: absolute;
	background-color: #ddd;
	height: 30px;
	cursor: grab;
}

.inner-bar:hover {
	background-color: orange;
}

.inner-bar-left-handle, .inner-bar-right-handle {
	position: absolute;
	width: 30px;
	height: 30px;
	cursor: pointer;
	
}

.inner-bar-left-handle:hover, .inner-bar-right-handle:hover {
	background-color: yellow;
}

.inner-bar-left-handle {
	left: 0;
	background: red;
}
.inner-bar-right-handle {
	right: 0;
	background: blue;
}


.outer-bar-list-container {
	margin: 10px;
}

.outer-bar-container {
	margin: 10px;
	background-color: 'white';
	height: 30px;
	position: relative;
}

.outer-bar {
	pointer-events: none;
	position: absolute;
	top: 42%;
	bottom: 42%;
	width: 100%;
	background-color: #447;
}
