$gray: #5b5b5b;
$light-gray: #e0e2e2;
$light-blue: #288feb;
$light-green: #28cb75;

$flux-blue-legacy: #445c8c;

$sider-old: #e6ebf2;
$sider-border: #d9dadc;
$sider: #fff;

$rear-old: #f3f6f9;
$rear-other-old: #f7f9fb;
$rear: #f6f8fa;

// $flux-blue: #445c8c;
// Actually $sider-text-selected
$flux-blue: #404041;

$flux-red-old: #f05144;
$flux-red: #b70025;

$bar-rear: #d2d8e4;


$value-fill-cool: #33c7c1;
$value-rear-cool: #d8f2f1;
$speed-fill: #709afe;
$speed-rear: #e2ebff;
$agility-fill-cool: #de56c6;
$agility-rear-cool: #f8def4;

$sider-text-selected: #404041;
$sider-text: #686868;

