@import '~variables.scss';

.simple-bar-fill, .simple-bar-rear {
  border-radius: 8px;
}

.simple-bar-fill {
  position: absolute;
  background-color: $flux-blue-legacy;
  height: 100%;
}

.simple-bar-rear {
  height: 6px;
  position: relative;
  background-color: $bar-rear;
}
