@import '../../variables';
// .scenario:first-child {
//   padding-top: 11px;
// }
.scenario:last-child {
  padding-bottom: 11px;
}

.flux-layout-content {
  height: 100%
}

.editor {
  overflow-y: auto;
  .flux-row.viewport-row {
  	min-height: 425px;
  }
  .flux-row {
    min-height: 300px;
  }


}