@import '../../variables';
// .container:first-child {
//   padding-top: 11px;
// }
.container:last-child {
  padding-bottom: 11px;
}

.data {
  overflow: hidden;
  overflow-y: scroll;
  margin-right: 0px;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;

  .flux-card.summary {
    height: 100%;
    .flux-card-body {
      // padding: 0px !important;
      padding: 15px !important;
      padding-top: 0px !important;
      margin-bottom: 15px !important;
      overflow-y: scroll !important;
    }
  }

  .flux-row {
    min-height: 250px;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 100%;
  }
  .flux-card-head:first-of-type {
    padding: 0 22px;
  }
  .flux-row:nth-of-type(2) {
    margin-top: 8px;
  }

  div[class^="flux-col-"] {
    height: 100%;
    .flux-card {
      background-color: white;
      height: 100%;
      display: flex;
      flex-direction: column;

      .flux-card-body {
        height: 100%;
        padding: 10px;
        overflow: hidden;
      }
    }    
  }
  h1 {
    color: $light-blue;
  }
}

.source {
  h3 {
    padding-bottom: 12px;
  }
  h3 + h3 {
    color: rgb(160, 160, 160);
  }
  .flux-select {
    width: 100%;
  }

  div[class^="flux-col-"] {
    padding: 10px 12px;

  }

}